<div class="container">
  <header>
    <h1>Sistema de Gerenciamento</h1>
    <p class="subtitle">Sistema de Gerenciamento de Usuários</p>
  </header>

  <nav class="menu">
    <a routerLink="/register" class="menu-item">
      <div class="icone">👤</div>
      <h2>Cadastrar Usuário</h2>
      <p>Adicione novos usuários ao sistema</p>
    </a>

    <a routerLink="/list-user" class="menu-item">
      <div class="icone">📋</div>
      <h2>Listar Usuários</h2>
      <p>Visualize todos os usuários cadastrados</p>
    </a>
  </nav>
  
</div>
<div class="footer">
  <footer>
    <p>&copy; 2024 Sistema de Gerenciamento. Todos os direitos reservados.</p>
  </footer>
</div>