<app-navbar></app-navbar>
<div class="brecho-list-root">
  <div class="brecho-card">
    <h1 class="brecho-title">Brechós Cadastrados</h1>

    <div *ngIf="mensagemSucesso" class="feedback success">{{ mensagemSucesso }} <button (click)="mensagemSucesso = ''" class="close-btn">×</button></div>
    <div *ngIf="mensagemErro" class="feedback error">{{ mensagemErro }} <button (click)="mensagemErro = ''" class="close-btn">×</button></div>

    <div class="list-area">
      <ng-container *ngIf="!carregando && usuariosFiltrados.length > 0; else vazio">
        <div *ngFor="let usuario of usuariosFiltrados" class="list-item">
          <div class="item-text">Nome: <span class="nome">{{ usuario.nome }}</span></div>
          <button class="btn-apagar" (click)="excluirUsuario(usuario.id)">Apagar</button>
        </div>
      </ng-container>

      <ng-template #vazio>
        <div *ngIf="!carregando" class="no-items">Nenhum brechó cadastrado.</div>
        <div *ngIf="carregando" class="loading">Carregando...</div>
      </ng-template>
    </div>

    <div class="actions">
      <a class="action-btn" routerLink="/home">Home</a>
      <a class="action-btn" routerLink="/register">Registrar Brechó</a>
    </div>
  </div>
</div>
